.info-form{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.send-btn{
  width: 7rem;
  margin-top: 1rem;
  border-radius: 5px;

}
.create-group-container{
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.create-group-container span {
  color: white;
}
